# PyCity Schools Analysis

- Charter schools have a lower school budget but have sizebly higher passing rates (roughly 90%) while District schools have a higher school budget and a very noticable drop in passing rates (roughly 53% passing). This shopws that there is a strong negative correlation with school budget and Overall passing grades. 
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_csv = Path("Resources/schools_complete.csv")
student_data_csv = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_csv)
student_data = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  
merged_school_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
merged_school_data.head(2920)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
2915,2915,April Williams,F,12th,Huang High School,70,85,0,District,2917,1910635
2916,2916,Karen Blevins,F,10th,Huang High School,82,73,0,District,2917,1910635
2917,2917,Amy Jacobs,F,10th,Figueroa High School,85,87,1,District,2949,1884411
2918,2918,Nathan Campbell,M,12th,Figueroa High School,97,84,1,District,2949,1884411
2919,2919,Randall Stewart,M,12th,Figueroa High School,67,77,1,District,2949,1884411

## District Summary

In [3]:
# Calculate the total number of unique schools
school_count = merged_school_data["school_name"].nunique()
print(school_count)

15

In [4]:
# Calculate the total number of students
student_count_a = merged_school_data["Student ID"].max()
student_count = student_count_a + 1
print(student_count)

39170

In [5]:
# Calculate the total budget
total_budget = merged_school_data["budget"].sum()
print(total_budget)

82932329558

In [6]:
# Calculate the average (mean) math score
added_math_score = merged_school_data["math_score"].sum()
average_math_score = (added_math_score) / 39170
print(round(average_math_score,2))

78.99

In [7]:
# Calculate the average (mean) reading score
added_reading_score = merged_school_data["reading_score"].sum()
average_reading_score = (added_reading_score) / 39170
print(round(average_reading_score,2))

81.88

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = merged_school_data[(merged_school_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(round( passing_math_percentage,2))

74.98

In [9]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = merged_school_data[(merged_school_data["reading_score"] >=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(round(passing_reading_percentage,2))

85.81

In [10]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = merged_school_data[
    (merged_school_data["math_score"] >= 70) & (merged_school_data["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print(round(overall_passing_rate,2))

65.17

In [11]:
District_Summary_DF = pd.DataFrame({"Total number of schools": [school_count],
                                    "Total Students": [student_count],
                                    "Total Budget": [total_budget],
                                    "Average Math Score": [average_math_score],
                                    "Average Reading Score": [average_reading_score],
                                    "Percent Passing Math": [passing_math_percentage],
                                    "Percent Passing Reading": [passing_reading_percentage],
                                    "Percent Overall Passing": [overall_passing_rate]})
District_Summary_DF

,Total number of schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [12]:
# Use the code provided to select all of the school types
# Set Indexing, refer to type of school separatley (end of day 2 or 3)

school_types = school_data.set_index("school_name")["type"]
school_types.head(10)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Name: type, dtype: object

In [14]:
# Calculate the total student count per school
    # There is a function we learned about when we learned about creating DFs

students_per_school = merged_school_data["school_name"].value_counts()
print(students_per_school)

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [15]:
# Calculate the total school budget and per capita spending per school

per_school_budget = merged_school_data.groupby("school_name")["budget"].mean()
per_school_budget
per_school_capita = per_school_budget/students_per_school
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [16]:
# Calculate the average test scores per school - Math

avg_math = merged_school_data.groupby("school_name")["math_score"].mean()
avg_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [17]:
# Calculate the average test scores per school - Reading
avg_reading = merged_school_data.groupby("school_name")["reading_score"].mean()
avg_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [18]:
# Calculate the number of students per school with math scores of 70 or higher

math_70 = merged_school_data[merged_school_data["math_score"] >= 70]
school_students_passing_math = math_70.groupby("school_name").size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [19]:
# Calculate the number of students per school with reading scores of 70 or higher

reading_70 = merged_school_data[merged_school_data["reading_score"] >= 70]
school_students_passing_reading = reading_70.groupby("school_name").size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [20]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = merged_school_data[
    (merged_school_data["reading_score"] >= 70) & (merged_school_data["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
print(school_students_passing_math_and_reading)

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [21]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / students_per_school * 100
per_school_passing_reading = school_students_passing_reading / students_per_school * 100
overall_passing_rate = school_students_passing_math_and_reading / students_per_school * 100
print(overall_passing_rate)

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [22]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
# Include the following: School name, School type, Total students, Total school budget, Per student budget, Average math score, Average reading score, % passing math (the percentage of students who passed math), % passing reading (the percentage of students who passed reading), % overall passing (the percentage of students who passed math AND reading, per_school_summary = 
per_school_summary = pd.DataFrame({
    "School Type": school_types, 
    "Total Students": students_per_school,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
})
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame

per_school_summary



# Plug in each variable separately to see which variables work
# The index should be the same for each variable

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [63]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",582,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",638,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Griffin High School,Charter,1468,"$917,500.00",625,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",578,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",609,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)

## Bottom Performing Schools (By % Overall Passing)

In [61]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",637,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Figueroa High School,District,2949,"$1,884,411.00",639,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Huang High School,District,2917,"$1,910,635.00",655,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Hernandez High School,District,4635,"$3,022,020.00",652,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",650,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)

## Math Scores by Grade

In [29]:
# Use the code provided to separate the data by grade
ninth_graders = merged_school_data[(merged_school_data["grade"] == "9th")]
tenth_graders = merged_school_data[(merged_school_data["grade"] == "10th")]
eleventh_graders = merged_school_data[(merged_school_data["grade"] == "11th")]
twelfth_graders = merged_school_data[(merged_school_data["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = merged_school_data.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = merged_school_data.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = merged_school_data.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = merged_school_data.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "Ninth Grader Average Math Score": round(ninth_grade_math_scores,2),
    "Ten Grader Average Math Scores": round(tenth_grader_math_scores,2),
    "Eleventh Grader Average Math Scores": round(eleventh_grader_math_scores,2),
    "Twelfth Grader Average Math Scores": round(twelfth_grader_math_scores,2)
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

,Ninth Grader Average Math Score,Ten Grader Average Math Scores,Eleventh Grader Average Math Scores,Twelfth Grader Average Math Scores
Bailey High School,77.05,77.05,77.05,77.05
Cabrera High School,83.06,83.06,83.06,83.06
Figueroa High School,76.71,76.71,76.71,76.71
Ford High School,77.10,77.10,77.10,77.10
Griffin High School,83.35,83.35,83.35,83.35
Hernandez High School,77.29,77.29,77.29,77.29
Holden High School,83.80,83.80,83.80,83.80
Huang High School,76.63,76.63,76.63,76.63
Johnson High School,77.07,77.07,77.07,77.07
Pena High School,83.84,83.84,83.84,83.84
Rodriguez High School,76.84,76.84,76.84,76.84
Shelton High School,83.36,83.36,83.36,83.36
Thomas High School,83.42,83.42,83.42,83.42
Wilson High School,83.27,83.27,83.27,83.27
Wright High School,83.68,83.68,83.68,83.68

## Reading Score by Grade

In [26]:
# Use the code provided to separate the data by grade
ninth_graders = merged_school_data[(merged_school_data["grade"] == "9th")]
tenth_graders = merged_school_data[(merged_school_data["grade"] == "10th")]
eleventh_graders = merged_school_data[(merged_school_data["grade"] == "11th")]
twelfth_graders = merged_school_data[(merged_school_data["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = merged_school_data.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = merged_school_data.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = merged_school_data.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = merged_school_data.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame ({
    "Ninth Grader Average Reading Score": round(ninth_grade_reading_scores,2),
    "Ten Grader Average Reading Scores": round(tenth_grader_reading_scores,2),
    "Eleventh Grader Average Reading Scores": round(eleventh_grader_reading_scores,2),
    "Twelfth Grader Average Reading Scores": round(twelfth_grader_reading_scores,2)
})

# Minor data wrangling
#reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

,Ninth Grader Average Reading Score,Ten Grader Average Reading Scores,Eleventh Grader Average Reading Scores,Twelfth Grader Average Reading Scores
Bailey High School,81.03,81.03,81.03,81.03
Cabrera High School,83.98,83.98,83.98,83.98
Figueroa High School,81.16,81.16,81.16,81.16
Ford High School,80.75,80.75,80.75,80.75
Griffin High School,83.82,83.82,83.82,83.82
Hernandez High School,80.93,80.93,80.93,80.93
Holden High School,83.81,83.81,83.81,83.81
Huang High School,81.18,81.18,81.18,81.18
Johnson High School,80.97,80.97,80.97,80.97
Pena High School,84.04,84.04,84.04,84.04
Rodriguez High School,80.74,80.74,80.74,80.74
Shelton High School,83.73,83.73,83.73,83.73
Thomas High School,83.85,83.85,83.85,83.85
Wilson High School,83.99,83.99,83.99,83.99
Wright High School,83.96,83.96,83.96,83.96

In [55]:
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

## Scores by School Spending

In [30]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [31]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [58]:
per_school_summary['Per Student Budget'] = per_school_summary['Per Student Budget'].str.replace('$', '').astype(float).astype(int)

In [59]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels)
school_spending_df

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [39]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [41]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [42]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [49]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame ({
    "Math Scores": round(size_math_scores,2),
    "Reading Scores": round(size_reading_scores,2),
    "Passing Math Scores": round(size_passing_math,2),
    "Passing Reading Scores": round(size_passing_reading,2),
    "Overall Passing Scores": round(size_overall_passing,2),
})

# Display results
size_summary

,Math Scores,Reading Scores,Passing Math Scores,Passing Reading Scores,Overall Passing Scores
School Size,,,,,
Small (<1000),83.82,83.93,93.55,96.10,89.88
Medium (1000-2000),83.37,83.86,93.60,96.79,90.62
Large (2000-5000),77.75,81.34,69.96,82.77,58.29

## Scores by School Type

In [50]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [54]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Avg Math Score by Type": average_math_score_by_type,
    "Avg Reading Score by Type": average_reading_score_by_type,
    "Avg % Passing Math by Type": average_percent_passing_math_by_type,
    "Avg % Passing Reading by Type": average_percent_passing_reading_by_type,
    "Avg % Passing Overall by Type": average_percent_overall_passing_by_type
})

# Display results
type_summary

,Avg Math Score by Type,Avg Reading Score by Type,Avg % Passing Math by Type,Avg % Passing Reading by Type,Avg % Passing Overall by Type
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208